<h1> Product Index Page </h1>

<%= @cart.each do |f| %>
<%= f %>
<% end %>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
